/* menu.css */

body {
  font-size: 19px;
  background-color: mediumvioletred;
  margin: 0; /* Remove default margin */
}

#menu nav ul {
  list-style-type: none; /* Remove bullets */
  padding: 0;
  margin: 0;
  display: flex; /* Use flexbox to align items horizontally */
}

#menu nav ul li {
  margin: 0;
  padding: 0;
}

#menu nav ul li a {
  display: block; /* Ensure the links take the full height of the list items */
  padding: 14px 16px; /* Space around the text */
  text-decoration: none; /* Remove underline from links */
}
